.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


div,button {
  margin: 15px;
}

.title{
  font-size: 20px;
  color: black;
  padding: 10px;
  margin-left: 12%;

}

.playImage{
  height: 30px;
  width: 30px;
}


.buttongrp{
  display:inline-flex;
  height: 80px;
  align-items: center;
  padding: 20px;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
}

a:hover, a:active {
  background-color: red;
}

a{
  position: relative;
  float: right;
}

